<!DOCTYPE html>
<html>
<head>
  <title>OhLaVache!</title>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,40,10,0.2) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("background.jpeg") %>');">
  <div class="banner-content">
    <h1>Oh La Vache!</h1>
    <p>Venez passer du temps avec une vache</p>
    <a class="btn btn-primary btn-lg">Sign-up for free</a>
  </div>
</div>
</head>
<body>

</body>
</html>
