// Your footer style
.footer {
  height: 150px;
  background-color: #0060BF;
  border:1px solid #0060BF;
  color: white;
  padding:20px;
}

.footer i {
  font-size: 30px;
}

.footer p {
  font-size: 15px;

}

#copyright {
  font-family: 'Arial', cursive;
}

#footer a:hover{
  color: yellow;
}

.text-footer {
  font-size: bold;
}
