.card-right {
  height: 100% !important;
  position: relative;
}

.card-links {
  //bottom: 0;
  //position: absolute;
  //width: 100%;
}
.card-top {
    text-align: center;
    border: 1px solid #0060BF;
    background-color: #0060BF;
}

.card-form {
  border: 1px solid #0060BF;
}

.btn-book {
  padding: 10px 30px;
  margin: 10px;
  background-color: #FF5A5F;
  border-radius: 4px;
  color: white;
  opacity: 0,8;
}
