.cow-photo {
  padding-right: 40px;
  width: 770px;
  background-size: cover;
  img {
    width: 100%;
  }
}

.cow-name {
  border-bottom: 1px solid #0060bf;
  padding-bottom: 5px;
  color: #0060bf;
}


.small_image {
  height: 30%;
  width: 30%;
}
