.share-links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.share-link {
  flex: 0 0 18%;
  color: white;
  font-size: 18px;
  padding: 4px 0;
  margin-top: 2px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
