.zone-circle h4 {
    color: #0060bf;
    border-bottom: 1px solid #0060bf;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 16px;}

      a {
    color: #0060bf;
    text-decoration: none;
}

.zone-circle .bg a {
    height: 100%;
}

.zone-circle {
    padding: 60px 0;
    background: url(../img/bg-gris.jpg) repeat top left;
}

